<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
    <h2>Menu</h2>
    <ul>
        <li><a href="http://127.0.0.1:8000/">Главная</a></li>
        <li><a href="http://127.0.0.1:8000/authors/">Авторы</a></li>
        <li><a href="http://127.0.0.1:8000/contacts/">Обратная связь</a></li>
    </ul>
    <h1>Отправить нам сообщение</h1>
    <form method="post">
        <input type="text" name="title" placeholder="Заголовок">
        <input type="text" name="text" placeholder="Текст сообщения">
        <input type="email" name="email" placeholder="email">
		<button type="submit">Отправить</button>
    </form>
</body>
</html>